 <ul><li> <a href="/">Home</a> - 
 <% if (user) { %>
 Hello <strong><%= user.username %></strong> - <a href="/logout">logout</a> - <a href="/orders">Mes commandes</a> - <a href="/products">Mes produits</a>
 <% } else { %>
<a href="/login">Login</a>
 <% } %>
 </li></ul>
