<%- include('include/header'); -%>
<%- include('include/nav', {user: user}); -%>
    <h1>products</h1>
    <% products.forEach(function(product) { %>
    <li>
        <%= product.id %> -
        <%= product.name %>
        <button class="btn" id="btn_<%= product.id %>">> Download</button>
    </li>
    <% }); %>
<%- include('include/footer'); -%>