<%- include('include/header'); -%>
<%- include('include/nav', {user: user}); -%>
    <h1>Login</h1>
    <form name="login" method="POST">
        <input name="username">
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
    <a href="/auth/google">Sign In with Google</a>

<%- include('include/footer'); -%>  