<%- include('include/header'); -%>
<%- include('include/nav', {user: user}); -%>
    <h1>Mes commandes</h1>
    <% orders.forEach(function(order) { %>
        <h2>Commande n° <%= order._id %></h2>
        <li>
            <%= order.product.name %> <em>(par <%= order.product.auteur %>)</em> - ID : <%= order.product.id %> 
        </li>
    <% }); %>
<%- include('include/footer'); -%>
