<%- include('include/header'); -%>
<%- include('include/nav', {user: user}); -%>
    <h1>Mes Produits</h1>
    <% products.forEach(function(product) { %>
        <li>
            <%= product.name %> <em>(par <%= product.auteur %>)</em>
        </li>
    <% }); %>
<%- include('include/footer'); -%>